*{
    color: black;
    text-transform: capitalize;
}
.navbar{
    background-color: rgb(243, 240, 240);
}
.navbar-brand h1{
   
    font-weight: 500;
 
}
li{
    font-size:23px;
}
.navbar-nav li:hover{
        font-size: 30px;
        color: red;
}
#home img{
    padding: 4px;
}
#home h1{
    color: black;
     font-size: 60px;
}
#home p{
    font-size: 40px;
}
#latest-collection{
    background-color: teal;
}
.lc{
    padding-bottom: 4px;
    font-size: 50px;
    color: thistle;padding: 3px;
}
#trending h2{
    overflow-x: hidden;
    color: black;
}
#trending{
    overflow-x: hidden;
}
#latest-collection p,h2
{
    color: white;
}

#trending{
    background-color: lightcoral;
}
#trending h2{
    color: white;
    text-shadow: black 0px 2px 5px;
}
#trending p{
    font-size: 22px;
    font-weight: 500;
}
.section-title{
    font-size: 50px !important;
}
@media screen and (max-width:786px)
{
    .container{
        overflow-x:hidden;
    }
    .lce{
        padding-bottom: 10px;
    }
}